@model Jaxis_Break_It.Data.Lab

@{
    ViewData["Title"] = "Jaxi's Break It!";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_Header")
    <link rel="stylesheet" href="/css/jaxi-edit.css" type="text/css">

    <!-- JSTinker Scripts -->
    <script src="~/js/jaxis-break-it.js"></script>
    <script src="/js/jaxi-edit.js"></script>
    
</head>
<body>
    <script>
        var arrTour = @(String.IsNullOrEmpty(Model.TourJSON) ? Html.Raw("[];") : Html.Raw(Model.TourJSON));
        var isCreator = @(ViewBag.IsCreator ? "true" : "false");
        var labTitle = @(String.IsNullOrEmpty(Model.Title) ? Html.Raw("''") : Html.Raw("'" + Model.Title + "'"));
        var labDescription = @(String.IsNullOrEmpty(Model.Description) ? Html.Raw("''") : Html.Raw("'" + Model.Description + "'"));
        var labId = @Html.Raw(Model.Id);
        var isAuthed = @(Context.User.Identity.IsAuthenticated ? "true" : "false");
    </script>

    <div id="app">
        <transition name="fade">
            <div v-if="isShowing" class="jaxi-modal" v-bind:style="{left:modalLeft, top:modalTop}">

            </div>
        </transition>




        <!-- Navbar -->
        @Html.Partial("_Navbar")

        <!-- Maker -->
        @Html.Partial("_Maker")
    </div>


        <!-- Sidebar -->
        @Html.Partial("_Sidebar")

        <!-- Editors -->
        @Html.Partial("_Editors", Model)
    


    <!-- Vue Templates -->
    <!-- step card-->
    <template id="step">
        <div class="step">
            <div @@click="editStep()" class="stepTitle">{{step.title}}</div>
            <div @@click="editStep()" class="stepText">{{step.text}}</div>
            <div class="stepTags"><div class="badge" v-if="step.code">Code</div></div>
            @* Hidden values *@
            <div style="display:none">
                <div>{{step.code}}</div>
            </div>
            <a @@click="killStep($event, 'stepId}')" href="#" class="close-thin"></a>
        </div>
    </template>


</body>
</html>
