<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Header")
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)

</head>
<body>
    @Html.Partial("_Navbar")
    <div class="content">
        @RenderBody()
        
    </div>

    <!--footer-->
    @Html.Partial("_Footer")

    @RenderSection("scripts", required: false)
</body>
</html>
